@media (min-width: 768px) {
    #header {
        display: flex;
        flex-direction: row;
    } 

    .menu {
        list-style: none;
        display: flex;
        align-items: flex-end;
        position: static;
    } 

    .menu ul {
        display: flex;
    }

    .menu-icon {
        display: none;
    }
    /*FIM MENU*/

    .login-content {
        width: 60%;
    }

    .cards {
        flex-direction: row;
    }

    .card {
        width: 40%;
    }

    .btn-logout {
        width: 20%;
    }
}